p {
    font-size: 30px;
    color: orange;
}
h1 {
    color: cornsilk
}
body {
    background-color: navajowhite
}
footer{
    background-color: yellowgreen
}
header{
    background-color: antiquewhite
}